<!DOCTYPE html>
<html>
<head>
  <title>Re</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= setup_browserid debug: false %>
</head>
<body>

<%= yield %>

</body>
</html>







